@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import "tailwindcss";


/* Theme Variables */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #ec4899;
  --border-color: #e5e7eb;
  --font-family: 'Patrick Hand', cursive;
}


[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --accent-color: #db2777;
  --border-color: #374151;
  --font-family: 'Patrick Hand', cursive;
}

/* Base Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: all 0.3s ease;
}

/* Components */
.card {
  background-color: rgba(var(--accent-color), 0.55);
  border-color: var(--border-color);
}

.shadow-retro {
  box-shadow: 4px 4px 0px rgba(var(--accent-color), 0.3);
}

nav, footer {
  background-color: var(--accent-color);
}

button {
  background-color: rgba(var(--accent-color), 0.3);
}

/* Scrolling Text */
.scrolling-text-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}